
<html class="body">
<div class="ontario-table-container ontario-small-12 ontario-medium-12 ontario-large-12">
	<div class="ontario-table-scroll--wrapper">
		<div class="ontario-table-scroll--div"></div>
	</div>
	<div class="ontario-table-div">
		<table tabindex="0">
			<caption>The List of Books</caption>
			<thead>
				<tr>
					<th scope="col" class="ontario-table-cell--numeric">
						Author ID
						<button (click)="sortAuthorsByAuId()">
							<ng-container *ngIf="isSortingAscending; else downArrow">&#9660;</ng-container>
							<ng-template #downArrow>&#9650;</ng-template>
						</button>
					</th>
					<th scope="col">
						Title ID
					<th scope="col">
						Publisher ID
					</th>
					<th scope="col">
						Book Title
					</th>
					<th scope="col">
						Publish Date
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let title of titlesWithAuthors">
					<th scope="row" class="ontario-table-cell--numeric">{{ title.au_id }}</th>
					<th scope="row" class="ontario-table-cell--numeric">{{ title.title_id }}</th>
					<th scope="row" class="ontario-table-cell--numeric">{{ title.pub_id }}</th>
                    <td class="link">
						<a class="link" routerLink="/book/{{ title.title_id }}">
							{{ title.title }}
						</a>
					</td>
					<td>
						{{ title.pubdate }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p></p>
</html>
<button type="button" *ngIf="showBackToTop" class="ontario-back-to-top ontario-back-to-top--default" (click)="scrollToTop()">
	<svg class="ontario-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	  <path d="M0 0h24v24H0z" fill="none"/>
	  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2.59l-3.29 3.29 1.41 1.41L14 10.41V13h2V9h-4z"/>
	</svg>
	Back to Top
  </button>